
<!DOCTYPE html>
<link rel="stylesheet" href="~/assets/css/funcionariosCadastro.css" />


<div class="container">
    <form id="contact" action="~/Controllers/Funcionarios/Cadastrar" method="post">
        <h3>Colorlib Contact Form</h3>
        <h4>Contact us for custom quote</h4>

        <fieldset>
            <input placeholder="Nome" type="text" tabindex="1" required autofocus>
        </fieldset>
        <fieldset>
            <input placeholder="Matricula" type="number" tabindex="2" required>
        </fieldset>
        <fieldset>
            <input placeholder="Cargo" type="text" tabindex="3" required>
        </fieldset>
        <fieldset>
            <input placeholder="Turno" type="text" tabindex="4" required>
        </fieldset>
        <fieldset>
            <button name="submit" type="submit" id="contact-submit" data-submit="...Gravando">Submit</button>
        </fieldset>
    </form>
</div>
