<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>

<body>
    <form id="contact" action="~/Controllers/Operacao/CadastrarFuncionario">
        <div>
            <input type="submit" value="Cadastrar" class="btn btn-success" id="btnCadastrar" formtarget="_blank"  />
        </div>
    </form>
</body>
